@charset "UTF-8";

a:focus {outline:0;}

		/** BUTTONS - TOP *
---------------------------------------------------------------------- */

#okButton {
			display:block;
			float:left;
			background:#39B54A;
			background: url('../pics/sprites.png') no-repeat;
			width:63px;
			height:40px;
			line-height:25px;
			color:#FFF;
			text-indent:100%;
			white-space:nowrap;
			overflow:hidden;
			margin:0;
			margin:15px 0 0 15px;
			outline:none;
			background-position:-12px -112px; 
}
#okButton:hover{ 	background-position:-82px -112px;   }

#load_folders {
					display:block;
					float:left;
					position:relative;
					margin-top:10px;
					width:388px;
					padding:2px 0;
					height:55px;
					color:white;
					background: url('../pics/sprites.png') no-repeat;
					text-align:center;
					font-size:1.3em;
					line-height:40px;
					text-indent:100%;
					white-space:nowrap;
					overflow:hidden;
					margin-left:-25px;
					background-position:-399px -39px; 
	}

/*Load folders*/
	#load_folders span{ 			
					position: absolute;
					top: 0; left: 0; bottom: 0; right: 0;
					background: url('../pics/sprites.png') no-repeat;
					
					background-position:9px -39px;  }  




		/** BUTTONS - FOLDERS *
---------------------------------------------------------------------- */

	.openFolderBtn , .openFolderBtn2 {
		display:block;
		float:left;
		width:92px;
		height:92px;
		/*border:5px solid #160E07;*/
		margin:5px;
		background: url('../pics/sprites.png') no-repeat;
		text-decoration:none;
		font-size:1em;
		text-align:center;
		font-family: Arial, Helvetica, sans-serif;
		color:#BBBBBB;
		font-size:1em;
		font-weight:900;
		display:inline-block;
		line-height:80px;
	}


		
	.openFolderBtn {color:#BBBBBB; background-position:-295px -112.9px; }
	
	.openFolderBtn:hover{
		background-position:-408px -112.9px; 
		color:#006837;
	}
	
	.openFolderBtn2 {background-position:-408px -112.9px; 
		color:#006837; }
	
	.openFolderBtn2:hover{
		color:#BBBBBB; background-position:-295px -112.9px;
	}
	
	.openFolderBtn p, .openFolderBtn2 p  {
		display:block;
		margin-top:20px;
		width:100%;
		height:50px;
		line-height:25px;
		font-weight:900;
		
	}
	
		/** BUTTONS - POPUP *
---------------------------------------------------------------------- */
#popup .exitButton { 			 
		background-position:-30px 0;  } 
#popup .exitButton:hover{ 		
		background-position:-30px 0;  }
	
.addFolderBtn, .backBtn {
		display:block;
		width:107px;
		height:30px;
		font-size:1.3em;
		background: url('../pics/sprites.png') no-repeat;
		background-position:-304px -228px; 
		text-indent:100%;
		white-space:nowrap;
		overflow:hidden;
		cursor:pointer;}

.thumbNail {
		width:200px; 
		display:block;
		border:2px solid black; 
		margin:5px;
}
.thumbNailImg {
		width:100%;
}
.backBtn { 
		width:60px;
		height:60px;
		position:absolute;
		top:105px;
		left:70px;
		background-position:-513px -129px; }
.backBtn:hover {
		background-position:-584px -129px; }
	
.deleteFolderBtn {
		float:right;
		margin-top:20px;
}

		/** BUTTONS - VIDEOBOARD *
---------------------------------------------------------------------- */
	.title {
		text-align:left;
		font-family: Arial, Helvetica, sans-serif;
		color:#312b2d;
		margin:10px 5px 5px 20px;
		padding-bottom:1px;
	    overflow: hidden;
	    text-overflow: ellipsis;
	    display: -webkit-box;
	    line-height: 16px;     /* fallback */
	    max-height: 32px;      /* fallback */
	    -webkit-line-clamp: 1; /* number of lines to show */
	   -webkit-box-orient: vertical;
	}

	#videoBoard a , #bigVideo a  {	
					display:block;					
					text-decoration:none;
					background: url('../pics/sprites.png') no-repeat;
					text-indent:100%;
					white-space:nowrap;
					overflow:hidden;
					}
					
	
	/*Exitbutton*/
	.exitButton ,  .hideButton , .enLarge ,.favouriteBtn{
				width:30px;
				height:30px;
				float:right;
				margin-right:7px;
				cursor:pointer;}
	
	
	#videoBoard .exitButton { 			background-position:0 0;  }  /*The first value is the horizontal position and the second value is the vertical.*/
	#videoBoard .exitButton:hover{ 		background-position:-30px 0;  }
	
	#bigVideo .exitButton { 			background-position:-30px 0;  }  /*The first value is the horizontal position and the second value is the vertical.*/
	#bigVideo .exitButton:hover{ 		background-position:-30px 0;  }
	
	/*hideButton*/
	.hideButton{	float:right;
				width:30px;
				height:30px;
				margin-right:7px;
				cursor:pointer;}
	
	
	#videoBoard .hideButton { 		background-position:-95px 0;  }  /*The first value is the horizontal position and the second value is the vertical.*/
	#videoBoard .hideButton:hover{ 	background-position:-125px 0;  }

	/*enLarge - Button*/

	
	#videoBoard .enLarge { 		margin-top:26px; background-position:-155px 0;  }  
	#videoBoard .enLarge:hover{ background-position:-185px 0;  }
	
	/*Favourite - Button*/
	
	#videoBoard .favouriteBtn { 		margin-top:25px; 
										background-position:-2px -155px;  }  
	#videoBoard .favouriteBtn:hover{ 	background-position:-36px -155px;  }
	.infoAdd {	width:100px;
				height:30px;
				float:right;
				margin-top:25px; 
				line-height:30px;
				margin-right:5px;
				background#000;
				color:#FFF;}
	
	.imgOver {
				background:red;
				width:100%;
				z-index:1000;
				}

	
	
/**visdomsord från Annie - Det som inte finns syns inte!*/