@charset "UTF-8";

	body {		overflow-y: scroll;	
				width:100%;
				height:100%;
				margin:0 auto;
				overflow-x: hidden;	
				font-family:"Georgia", sans-serif;
				position:relative;
				background: url(../pics/seamless.jpg);
				}
	h2 {		
				padding-top:30px;}
	img {			
				max-width:100%;}
.test {background:red; width:150px; height:50px;}

iframe:focus {outline:0;}
	.unselectable {
    -WEBKIT-USER-SELECT: NONE; /* SAFARI, CHROME */
    -KHTML-USER-SELECT: NONE; /* KONQUEROR */
    -MOZ-USER-SELECT: NONE; /* FIREFOX */
    -MS-USER-SELECT: NONE; /* IE */
    USER-SELECT: NONE; /* CSS3 */
}

.selectable {
    -WEBKIT-USER-SELECT: auto; /* SAFARI, CHROME */
    -KHTML-USER-SELECT: auto; /* KONQUEROR */
    -MOZ-USER-SELECT: auto; /* FIREFOX */
    -MS-USER-SELECT: auto; /* IE */
    USER-SELECT: auto; /* CSS3 */
}
				
	.phptest {color:#FFF; }
	article, aside, details, figcaption, figure, main
	footer, header, hgroup, menu, nav, section{ display: block; } 			

	/**    HEADER        **
-------------------------------------------------------------------*/

	#headerMain {
			width:30%; float:left;
			min-width:250px;
	}
	
	
	.logo { 
			min-width:250px;
			float:left;
			margin-top:15px;
			margin-bottom:15px;
	}
.validation {
			float:left;
			clear:both;
			margin-left:20px;
			
}
.errorm {
			margin-top:5px;
			float:left;
}
#linkInput {
			float:left;
			width:300px;
			margin-top:15px;
			height:20px;
			border:2px solid gray;
			border-radius:10px;
			outline:none;}
			
#profilediv {
			float:right;
			width:19%;
			margin-top:55px;
}
#profilepic {
			float:right;
			border:4px solid #000;
			border-radius:10px;
			margin:0 auto;
			min-width:150px;
			height:150px;
			max-width:100%;
			max-height:100%;
			background-image:url('../pics/profile.jpg');
			background-position:center;
			background-repeat:no-repeat;

}
#details {
			width:100%;
			clear:both;
}
#username {
			cursor:default;
			margin:0 auto;
			padding-right:10px;
			text-align:right;
			line-height:50px;
			font-size:1.3em;
			font-weight:900;
}

	/** VIDEORUTA **
-------------------------------------------------------------------*/
.pp-video{}
	#videoboardContainer {
			display:block;
			float:left;
			background:#000;
			background: url(../pics/bk.jpg) center 0;
			clear:both;
			box-shadow: inset 0px 0px 30px 10px rgba(0,0,0,0.9);
			border-radius:25px;
			min-width:500px;
			min-height:800px;
			height:100%; 
			height:auto !important; 
			width:99%;
			border:5px solid #000;
			padding-top:15px;
			padding-bottom:30px;
		/*	overflow:hidden; /*http://stackoverflow.com/questions/3921761/floating-image-to-the-left-changes-container-divs-height*/
	}
	
	
	#videoBoard {
	
			text-align:justify;
			width:96%;
			height:96%;
			height:auto !important; 
			margin: 0 auto;	  	
	}
	
	.vidSize { 
		margin:0 auto;  width:382.5px;  /*width:382.5px;*/
    		padding-bottom: 70.3125%;
   	  		height: 400px; overflow: hidden;
			background:#2D8C36;
			margin-bottom:35px;}
	.youtubeVideo{ 
			overflow:hidden;}		
	.youtubeVideo:focus {
			outline:0; border:0;}
	.videoWrapper
		{ 	width:381.5px;
			height:225px;
			margin:0 auto;
			clear:both;
			outline:0;
			border:0;
		}
	.videoWrapper:focus {
			outline:0; border:0;}
	.draggy {
		display: inline-block;
		width:382.5px;
		height:400px;
		box-shadow:5px 5px 10px #160b02;
		padding:5px;
		background:#000;
		/* cursor:move; background:#2D8C36;*/
		margin:6px;
		margin-top:10px;
		float:left;
		border-radius:5px;
		
	}
	
	.loading{
		
		position:absolute;
		margin: 0 auto;
		left:0;
		right:0;
		margin-top:15%;	  	

	}
	/** LARGE VIDEO *
---------------------------------------------------------------------- */	
	
	#bigVideo{	
		position: absolute;
		width:853px;
		max-width:100%;
		min-height:480px;
		padding:40px;
		height:auto !important;
		top: 5%;
		z-index: 9999; 
		background-color: #000;
		margin: 0 auto;
		left: 0;
		right: 0; }
	
	#bigVideoWrapper{
		
		
	}	

	/** MY FOLDERS*
---------------------------------------------------------------------- */	
	#folderHeader {
		float:left;
		width:50%;
		min-height:200px;
		height:280px;
		overflow:hidden; 
		margin-top:30px;
		min-width:358px;
		padding-bottom:15px;
	}
	
	.folderTitle {
					position:absolute;
					top:120px;
					left:200px;
					font-size:1.5em; 
					font-weight:900;
					}
	
	#myFolders {
		display:block;
		clear:left;
		min-height:120px;
		margin-top:5px;
		margin-bottom: 50px;
	}
	#kanske {width:500px; height:400px;}
	/** POPUP - MY FOLDERS*
---------------------------------------------------------------------- */	
	.addTitle {
		display:block;
		font-size:1.3em;
		text-align:left;
		font-weight:900;
	}
	/** HEADER POPUP **/
	.titleheaderPopup {
		display:block;
		float:left;
		padding-right:10px;
		font-size:1.1em;
		color:#000;
		margin-top:2px;
		line-height:20px;
	}
		
	.inputPopup {
		padding-left:10px;
		margin-right:10px;
		display:inline; 
		border:1px solid green;
		height:20px;
		border:2px solid gray;
		border-radius:10px;
		outline:none;
		float:left;
	}
	
	.headerPopup {
		padding-top:20px;
		float:right;
		width:400px;
		height:150px;
	}
		
	.folderTag{		
		height:162px;
		width:274px;
		float:left;
		margin-top:-15px;
		margin-left:-20px;
		background-image:url('../pics/sprites.png');
		background-repeat:no-repeat;
		background-position:0px -208px;
	}

	
	#popup {	position: absolute;
				min-width:250px;
				width:70%;
				min-height:700px;
				height:auto !important;
				top: 9%;
				z-index: 9999; 
				background-color: #FFF;
				border: 5px solid #160E07;
				border-radius:10px;
				margin: 0 auto;
			  	left: 0;
			 	right: 0;
				}
	#insidePopup  p {
			margin-top:30px;
			text-align:center;
	}
	#popup  h2 {
			font-weight:bold;
			font-size:18px;
	}
	
	
	#insidePopup {
			padding-top:15px;
			width:90%;
			height:80%;
			border-top: 4px solid #160E07;
			clear:both;
			margin:0 auto;
		
	}
	
#mask , #mask2 {
	
			background:#000;
			position: absolute;
			z-index: 8888; 
		    top:0;
		    left:0;
		    bottom:0;
		    right: 0;
			opacity:0.8;
}

#mask2 {
			opacity:1;}
#confirmPopup, #okPopup { 
	
				position: absolute;
				width:250px;
				min-height:100px;
				height:100%; 
				height:auto !important; o 
				top: 200px;
				z-index: 9999; 
				background-color: #FFF;
				border: 5px solid #160E07;
				border-radius:10px;
				margin: 0 auto;
			  	left: 0;
			 	right: 0;	
			 	text-align:center;
			 	font-size:1.2em;
			 	padding-bottom:20px;	
			}
#confirmPopup a , #okPopup a{
				display:block;
				float:left;
				padding: 3px 5px;
				color:#000;
				text-decoration:none;
				border:1px solid #000;
				border-radius:5px;
				margin:5px;
}
#confirmPopup a:visited , #okPopup a:visited {
				color:#000;
}
		/** Anger sidansstorlek och placering*
---------------------------------------------------------------------- */	
	#page {	width:95%; min-height: 800px; 
			height:100%; 
			height:auto !important; 
			margin:0 auto;
			overflow:hidden;
			padding-bottom: 20px;}

/** CSS för mobila enheter*
---------------------------------------------------------------------- */
@media screen and (max-width:1305px) {
	
	#folderHeader {
			width:30%;
			padding-left:8%;
			margin-right:15px;
			min-width:358px;
	}
}
@media screen and (max-width:1000px) {
	
	#folderHeader {
			width:30%;
			padding-left:8%;
			margin-right:15px;
			min-width:358px;
	}
	#folderHeader {
			float:left;
			clear:left;
			padding-left:5px;
	}
	#profilediv {
			float:right;
			width:200px;
}
}

@media screen and (max-width:910px) {
#videoBoard {
			width:390px;	
	}
#videoboardContainer {
			min-width:250px;
			max-width:99%;
			min-width:500px;
			min-height:500px;
			height:100%; 
			height:auto !important; 
			width:96%;
	}
	#profilediv {
			float:right;
			width:200px;
			margin-right:3%;
}
}
@media screen and (max-width:649px) {
	#profilepic {
			display:none;
		}
	#profilediv {
			position:absolute;
			top:0;
			right:15px;
}
}
@media screen and (max-width:556px) {

	#profilediv {
			position:absolute;
			top:0;
			right:10px;		
}
 #videoboardContainer {
			max-width:85%;
			width:80%;
	
	}
	#videoBoard {
			width:400px;
			margin:0 auto;
			padding:0;	
			
	}
}

