@charset "UTF-8";

	body {		overflow-y: scroll;	
				width:100%;
				height:100%;
				margin:0 auto;
				overflow-x: hidden;	
				font-family:"Georgia", sans-serif;
				position:relative;
				background: url(../pics/seamless.jpg);
				}
	h2 {			padding-top:30px;}
	
	.unselectable {
    -WEBKIT-USER-SELECT: NONE; /* SAFARI, CHROME */
    -KHTML-USER-SELECT: NONE; /* KONQUEROR */
    -MOZ-USER-SELECT: NONE; /* FIREFOX */
    -MS-USER-SELECT: NONE; /* IE */
    USER-SELECT: NONE; /* CSS3 */
}
				
	.phptest {color:#FFF; }
	article, aside, details, figcaption, figure, main
	footer, header, hgroup, menu, nav, section{ display: block; } 			

	/**    HEADER        **
-------------------------------------------------------------------*/

	#headerMain {
			height:300px;
			width:400px; float:left;
	}
	
	#headerFolders{		
		height:200px;
		width:100%;
		margin:0 auto;
		background-image:url('../pics/folderHeader.jpg');
		background-repeat:no-repeat;
		background-position:center;
	}
	
	.logo {
			width:250px;
			height:110px;
			float:left;
			margin-bottom:50px;
	}
.validation {
			float:left;
			clear:left;
			margin-left:20px;
			
}
.errorm {
			margin-top:5px;
			float:left;
}
#linkInput {
			float:left;
			width:300px;
			margin-top:15px;
			
			height:20px;
			border:2px solid gray;
			border-radius:10px;
			outline:none;}
#username {
	display:block;
	clear:both;
	width:100px;
	font-size:1.3em;
}

	/** VIDEORUTA **
-------------------------------------------------------------------*/
	#videoboardContainer {
			position:relative;
			background:#000;
			background: url(../pics/bk.jpg) center 0;
			clear:both;
			box-shadow: inset 0px 0px 30px 10px rgba(0,0,0,0.9);
			border-radius:25px;
			min-width:500px;
			min-height:800px;
			height:100%; 
			height:auto !important; 
			width:100% -2px;
			border:5px solid #000;
			overflow:hidden; /*http://stackoverflow.com/questions/3921761/floating-image-to-the-left-changes-container-divs-height*/
		
	}
	
	
	#videoBoard {
			position:absolute;
			width:98%;
			height:96%;
			height:auto !important; 
			margin: 0 auto;
			margin-top:1%;
			margin-bottom:2%;
			  	left: 0;
			 	right: 0;
	}
	
	.vidSize { margin:0 auto;  width:500px;
    		padding-bottom: 70.3125%;
   	  		height: 400px; overflow: hidden;
			background:#2D8C36;
			margin-bottom:35px;}
			iframe {border:0;}
	
	.videoWrapper
	{ 	width:425px;
		height:250px;
		margin:0 auto;
		clear:both;
		}
	.draggy {
		display:inline;
		width:425px;
		height:400px;
		box-shadow:5px 5px 10px #160b02;
		padding:10px;
		background:#000;
		/* cursor:move; background:#2D8C36;*/
		margin:6px;
		margin-top:10px;
		float:left;
		border-radius:5px;
		
	}
	
	.loading{
		
			  	position:absolute;
			  	margin: 0 auto;
			  	left:0;
			  	right:0;
			  	margin-top:15%;

	}
	

	/** MY FOLDERS*
---------------------------------------------------------------------- */	
	#folderHeader {
		float:left;
		width:50%;
		margin-top:27px;
	}
	#myFolders {
		display:block;
		clear:left;
		height:120px;
		margin-top:5px;
		margin-bottom: 50px;
	}
	
	/** POPUP - MY FOLDERS*
---------------------------------------------------------------------- */	
	
	
	#popup {	position: absolute;
				min-width:250px;
				width:70%;
				min-height:300px;
				height:auto !important;
				top: 10%;
				z-index: 9999; 
				background-color: #FFF;
				border: 5px solid #2f0916;
				padding:45px;
				border-radius:10px;
				
				margin: 0 auto;
			  	left: 0;
			 	right: 0;
				}
	#popup  p {
		margin-top:30px;
		text-align:justify;
	}
	#popup  h2 {
		font-weight:bold;
		font-size:18px;
	}
	
	#mask{
	
	background:#000;
	position: absolute;
	z-index: 8888; 
    top:0;
    left:0;
    bottom:0;
    right: 0;
	opacity:0.8;
}
	
		/** Anger sidansstorlek och placering*
---------------------------------------------------------------------- */	
#page {	width:95%; min-height: 800px; 
		height:100%; 
		height:auto !important; 
		margin:0 auto;
		overflow:hidden;
		padding-bottom: 20px;}

