@charset "UTF-8";

	body {		overflow-y: scroll;	
				width:100%;
				height:100%;
				margin:0 auto;
				
				font-family:"Georgia", sans-serif;
				}
	h2 {			padding-top:10px;}
	
	a {			display:block; 
				width:80px; height:80px;
				float:left;
				padding:10px; 
				}
				

/*lägg vidSize i container för 80% är av hela page*/
	.vidSize { margin:0 auto;  width:80%;
    	padding-bottom: 56.25%;
   	  height: 0; overflow: hidden;
   	 
   			 height: 0;
			background:red;
			margin-bottom:35px;}
	
	.vidSize iframe {
    margin:0 auto; border:2px solid green;
    width: 100%;
    height: 100%;
}
	
		/** Anger sidansstorlek och placering*
---------------------------------------------------------------------- */	
#page {width:90%; height:90%;
		background:grey;
		margin:0 auto;
		overflow:hidden;}

