
#options ul {
  list-style: none;
  padding: 0;
  margin: 0;
  line-height: 1;
  padding-right:20px;
  margin-left:-20px;
}
#options > ul {
  position: relative;
  display: block;
  height: 32px;
  width: 100%;
  z-index: 500;
}
#options > ul > li {
  display: block;
  position: relative;
  float: left;
  text-align:left;
  margin: 0;
  padding: 0;
}
#options > ul > #menu-button {
  display: none;
}
#options ul li a {
  display: block;
  font-family: Helvetica, sans-serif;
  text-decoration: none;
  text-indent:100%;
		white-space:nowrap;
		overflow:hidden;
}
#options > ul > li > a {
  font-size: 14px;
  font-weight: bold;
  padding: 15px 20px;
  color: #7a8189;
  text-transform: uppercase;
  -webkit-transition: color 0.25s ease-out;
  -moz-transition: color 0.25s ease-out;
  -ms-transition: color 0.25s ease-out;
  -o-transition: color 0.25s ease-out;
  transition: color 0.25s ease-out;
}
#options > ul > li.has-sub > a {
  padding-right: 2px;
}

#options ul ul {
  position: absolute;
  left: -9999px;
  top: 70px;
  opacity: 0;
  -webkit-transition: opacity .3s ease, top .25s ease;
  -moz-transition: opacity .3s ease, top .25s ease;
  -ms-transition: opacity .3s ease, top .25s ease;
  -o-transition: opacity .3s ease, top .25s ease;
  transition: opacity .3s ease, top .25s ease;
  z-index: 1000;
}
#options ul ul ul {
  top: 37px;
  padding-left: 5px;
}
#options ul ul li {
  position: relative;
  margin-left:-50px;
}
#options > ul > li:hover > ul {
  left: auto;
  top: 44px;
  opacity: 1;
}
#options ul ul li:hover > ul {
  left: 170px;
  top: 0;
  opacity: 1;
}
#options ul ul li a {
	text-indent:0;
		white-space:nowrap;
		overflow:hidden;
	  
	  width: 80px;
	  margin-top:-5px;
	  border-bottom: 1px solid #eee;
	  padding: 10px 20px;
	  font-size: 1em;
	  color: #BBBBBB;
	  background: #1D130A;
	  -webkit-transition: all .35s ease;
	  -moz-transition: all .35s ease;
	  -ms-transition: all .35s ease;
	  -o-transition: all .35s ease;
	  transition: all .35s ease;
}

#options ul ul li:last-child > a,
#options ul ul li.last > a {
  border-bottom: 0;
}

